// @font-face {
//   font-family: "Canela Deck";
//   font-style: normal;
//   font-weight: 700;
//   font-display: swap;
//   src: url(../assets/font/CanelaDeck.woff2);
// }

// Colors
$primaryColor: #8896ceff;
$secondaryColor: #191136ff;
$bgLight: #e5e9feff;
$bgDark: #000000ff;
$white: #ffffffff;
$inputColor: #eaeaea;
$textDark: #333333;
$textGrey: #555555;

// Font
// $fontPrimary: "Canela Deck";
$fontPrimary: "Inter", sans-serif;

// Others
$radius: 5px;

$transition: 0.3s ease-in-out;
$borderLine: 1px solid #f4f4f4;
