@font-face {
  font-family: "Canela Deck";
  font-style: normal;
  font-weight: 700;
  src: url(../assets/font/CanelaDeck.woff2);
}

// Colors
$primaryColor: #8896ceff;
$secondaryColor: #191136ff;
$bgLight: #e5e9feff;
$bgDark: #000000ff;
$white: #ffffffff;

// Font
$fontPrimary: "Canela Deck";
$fontSecondary: "Inter", sans-serif;
