@import "variables";
@import "mixins";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontPrimary;
}

body {
  background: $bgLight;
  color: $textDark;
}

p,
a {
  font-weight: 300;
  color: $textGrey;
}

.highlight {
  color: $primaryColor;
}

#hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1200px;
  margin: 0 auto;
  padding: 6rem 3rem;
  margin-top: -1rem;

  @media (max-width: 1000px) {
    grid-template-columns: 1fr;
    justify-items: start;
  }

  @media (max-width: 768px) {
    padding: 0 1.5rem 3rem;
  }
}

// Hero Content
.content {
  h1 {
    font-size: 2.3rem;
    letter-spacing: -1px;
    line-height: 3.5rem;
    max-width: 500px;
    margin-bottom: 1.5rem;
    transition: 0.2s ease-in-out;
  }

  & > p {
    font-weight: 500;
    line-height: 1.6rem;
  }

  .logo {
    margin-bottom: 1rem;
  }

  .icon {
    margin: 1rem 0;
  }

  .stats {
    margin: 1.5rem 0;
    @include flexAlign;

    h2 {
      font-size: 2rem;
    }

    p {
      font-size: 0.8rem;
    }

    .rating {
      margin-right: 6rem;
    }
  }

  @media (max-width: 1100px) {
    h1 {
      font-size: 2.7rem;
      line-height: 3.2rem;
    }
  }

  @media (max-width: 1000px) {
    h1 {
      line-height: 3.2rem;
      max-width: 800px;
    }
  }

  @media (max-width: 900px) {
    h1 {
      font-size: 2.3rem;
      line-height: 3rem;
      max-width: default;
    }
  }
}

// Converter
.converter {
  padding: 2rem;
  width: 550px;

  @media (max-width: 1000px) {
    padding: 6rem 0;
  }

  @media (max-width: 800px) {
    width: 100%;
  }

  form {
    background: $white;
    border-radius: $radius;
    box-shadow: -220px 60px 250px -100px rgba(136, 150, 206, 0.7);

    label {
      display: block;
      margin-bottom: 0.7rem;
    }

    input,
    select {
      background-color: $white;
    }

    .value {
      padding: 2rem;
      border-bottom: $borderLine;

      & > div {
        @include flexBetween;

        a {
          transform: translateY(-7px);
        }
      }

      input {
        width: 100%;
        padding: 1rem 1.3rem;
        font-size: 1.5rem;
        border: 1px solid $inputColor;
        border-radius: $radius;
        color: #333;

        &:focus {
          border: 1px solid $primaryColor;
          outline: none;
          transition: 0.3s ease-in-out;
        }
      }
    }
  }

  .convertOptions {
    @include flexAround;
    padding: 1.5rem;
    border-bottom: $borderLine;

    .baseCurrency,
    .foreignCurrency {
      width: 130px;
    }

    .convertIcon {
      margin-top: 2rem;
      cursor: pointer;
    }

    .selectContanier {
      @include flexEvenly;
      border: 1px solid $inputColor;
      border-radius: 200px;
      padding: 0.2rem;

      .select-box select::-webkit-scrollbar {
        width: 8px;
      }
      .select-box select::-webkit-scrollbar-track {
        background: #fff;
      }
      .select-box select::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 8px;
        border-right: 2px solid #ffffff;
      }

      select {
        border: none;
        padding: 0.4rem;
        width: 60px;
        height: 100%;
        cursor: pointer;
      }

      .flags {
        border-radius: 50%;
        margin-right: 1rem;
      }
    }

    @media (max-width: 600px) {
      flex-direction: column;

      .convertIcon {
        margin: 1rem 0;
      }
    }
  }

  .exchangeRate {
    padding: 1.3rem 1.5rem;
    text-align: center;

    p {
      font-size: 1.1rem;
      margin-bottom: 0.6rem;
    }

    .result {
      font-size: 2rem;
      color: #444;
    }
  }

  .convertBtn {
    display: inline-block;
    width: 100%;
    padding: 1.2rem;
    text-align: center;
    border: none;
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
    transition: $transition;
    background: $secondaryColor;
    color: $white;
    font-size: 1.3rem;
    cursor: pointer;

    &:hover {
      background: rgb(25, 17, 64);
    }
  }
}

.footer {
  @include flexCenter;
  text-align: center;
  padding-bottom: 3rem;
  font-size: 1.1rem;

  a:hover {
    color: $secondaryColor;
  }

  .social {
    display: flex;
    margin: 1rem 0;

    a {
      margin: 0 0.5rem;
    }
  }
}

.loader {
  width: 25px;
  height: 25px;
  border: 4px solid #333;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 0.4s linear infinite;

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
