@import "variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $fontSecondary;
  background: $bgLight;
}

p {
  font-weight: 300;
  color: #222;
}

.highlight {
  color: $primaryColor;
}

#hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 3rem 3rem;
  margin-top: -1rem;

  @media (max-width: 1000px) {
    grid-template-columns: 1fr;
  }
}

// Hero Content
.content {
  opacity: 0;
  h1 {
    font-family: $fontPrimary;
    font-size: 3.3rem;
    letter-spacing: -0.3px;
    line-height: 4.1rem;
    margin-bottom: 1.5rem;
    transition: 0.2s ease-in-out;
  }

  & > p {
    font-weight: 500;
    line-height: 1.6rem;
  }

  .logo {
    margin-bottom: 2.7rem;
  }

  .icon {
    margin: 1rem 0;
  }

  .stats {
    display: flex;
    align-items: center;

    h2 {
      font-size: 2rem;
    }

    p {
      font-size: 0.8rem;
    }

    .rating {
      margin-right: 10rem;
    }
  }

  @media (max-width: 900px) {
    h1 {
      font-size: 2.5rem;
      line-height: 3rem;
    }
  }
}

// Converter
.converter {
  padding: 6rem 2rem;

  form {
    background: $white;
    border-radius: $radius;

    label {
      display: block;
      margin-bottom: 0.7rem;
    }

    input,
    option {
      font-family: $fontSecondary;
      border: 1px solid $inputColor;
      border-radius: $radius;
    }

    .value {
      padding: 2rem;
      border-bottom: 1px solid #f4f4f4;

      & > div {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
          transform: translateY(-7px);
        }
      }

      input {
        width: 100%;
        padding: 1rem 1.3rem;
        font-size: 1.5rem;

        &:focus {
          border: 1px solid $primaryColor;
          outline: none;
          transition: 0.3s ease-in-out;
        }
      }
    }
  }

  .convertOptions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem;
    border-bottom: 1px solid #f4f4f4;

    .selectContanier {
      display: flex;
      align-items: center;
      justify-content: space-around;
      border: 1px solid $inputColor;
      border-radius: 3px;
      padding: 0.8rem;
    }
  }

  .exchangeRate {
    padding: 1.3rem 1.5rem;
    text-align: center;

    p {
      font-size: 1.1rem;
      margin-bottom: 0.3rem;
    }

    .result {
      font-size: 3rem;
      color: #444;
    }
  }
  .flags {
    border-radius: 50%;
  }

  .convertBtn {
    font-family: $fontPrimary;
    display: inline-block;
    width: 100%;
    padding: 1.2rem;
    text-align: center;
    border: none;
    transition: $transition;
    background: $secondaryColor;
    color: $white;
    font-size: 1.3rem;
    cursor: pointer;
  }
}
