@import "variables";

body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 80vh;
  background: $bgLight;
  font-family: $fontPrimaryReg, $fontDefault;
}

h1 {
  font-family: $fontBold, $fontDefault;
  font-size: 4rem;
}
