.container {
  width: 100%;
}

.resultcontainer {
  background-color: var(--bg-tertiary);
  border: 1px solid var(--border);
  border-radius: 20px;
  padding: 1.5rem;
  margin-bottom: 1rem;
}

.resultcontainer * {
  font-family: var(--font-secondary);
}

.result p {
  font-size: 0.9rem;
  font-weight: 300;
  color: var(--text-secondary);
  word-wrap: break-word;
}

.result h2 {
  display: flex;
  gap: 0.5rem;
  position: relative;
  font-size: 2rem;
}

.result .text {
  overflow-wrap: anywhere;
  word-break: break-all;
}

.spinner {
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

@media (width <= 800px) {
  .resultcontainer {
    padding: 1rem;
  }
  .result h2 {
    font-size: 1.5rem;
  }
}
