.theme {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.theme span {
  color: var(--text-secondary);
}

.theme .button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: var(--bg-primary);
  color: var(--primary-color);
  transition: transform 0.15s ease-in-out;
}

.button.rotate {
  transform: rotate(45deg);
}
