@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: "Space Mono", "Work Sans" system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --font-primary: "Work Sans";
  --font-secondary: "Space Mono";

  --primary-color: #5b3cfa;
  --secondary-color: #7863fc;
}

.light {
  --bg-primary: #ffffff;
  --bg-secondary: #fafafa;
  --text-primary: #333333;
  --text-secondary: #555555;
  --text-accent: #bac8d3;
  --border: #dddddd;
  --shadow: rgba(78, 73, 60, 0.12) 0px 48px 150px 0px;
}

.dark {
  --bg-primary: #111111;
  --bg-secondary: #222222;
  --text-primary: #ffffff;
  --text-secondary: #777777;
  --text-accent: #32373b;
  --border: #222222;
  --shadow: rgba(0, 0, 0, 0.12) 0px 0px 80px 0px;
}

body {
  font-family: var(--font-primary);
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
}

.app {
  max-width: 1200px;
  margin: 5rem auto 0;
  padding: 2rem;
}
