.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
  gap: 2rem;
}

.masthead p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
