.currency {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: var(--text-primary);
}

.code {
  font-weight: 500;
  text-transform: uppercase;
}

.text {
  color: var(--text-secondary);
  font-size: 0.95rem;
  text-align: start;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.flag,
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 18px;
  height: 18px;
  border: 1px solid var(--border);
  background-color: var(--bg-secondary);
  border-radius: 50%;
  font-size: 0;
}

.text::selection,
.code::selection {
  background-color: none;
}
